<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feri.com.mathquizz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_aplikasi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_aplikasi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".modul.MateriPrasyaratActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.ResultPrasyarat"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.PengerjaanPrasyaratActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.KubusInteraktifActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.PetaKonsepActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.PengerjaanQuizzActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.ActivityDynamicCustom"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.MateriActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.GantiNamaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modul.NewUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.PengerjaanLatihanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modul.ResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>